@import url('https://fonts.googleapis.com/css2?family=Isometra&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Isometra", sans-serif;
}

header {
    text-align: center;
    padding: 3rem;
    align-content: center;
}

#logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
}



p {
    font-size: 0.5rem;
    padding: 1rem;
}

header h1 {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;

}


#grid {

    display: grid;
    gap: 1rem;
}

#grid img {
    width: 100%;
    display: block;
    height: 300px;
    object-fit: cover;

}

#grid article {
    overflow: hidden;
    position: relative;

}

#grid h2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(250, 235, 215, 0.635);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#grid p {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(148, 148, 174, 0.833);
    border-radius: 20px;
}

/* TABLET */

@media all and (min-width:760px) {

    #grid {
        grid-template-columns: 1fr 1fr;
    }

    header {
        grid-column: span 2;
    }

    #art3 {
        grid-column: span 2;
    }

}

/* ESCRITORIO */
@media all and (min-width:1200px) {

    #grid {
        height: 100vh;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 1fr 1fr 1fr 2fr;
    }

    header {
        grid-column: 1/2;
    }

    #art1 {
        grid-row: span 2;

    }

    #art2 {
        grid-row: span 2;

    }

    #art3 {
        grid-column: span 1;
        grid-row: span 2;
    }

    #art4 {
        grid-column: span 2;
        grid-row: span 2;
    }

    #grid p {
        opacity: 0;
        transition: 0.3s;
    }

    #grid article:hover p {
        opacity: 1;
    }
}